@media screen and (min-width: 321px) {
    .title {
        padding: 2rem 1rem;
        justify-content: unset;
        justify-content: start;
        align-items: flex-start;
    }
}

@media screen and (min-width: 769px) {
    html {
        font-size: 18px;
    }
    .title {        
        h1 {
            margin-left: 3rem;
            font-size: 2.5rem;
        }
        .p-mobile {
            display: none;
        }
        .p-desktop {
            display: block;
            font-size: 1rem;
            width: 70vw;
            margin-left: 3rem;
        }

        .btn {
            margin-left: 3rem;
        }
    }
}

@media screen and (min-width: 1025px) {
    html {
        font-size: 18px;
    }
    .title {        
        h1 {
            margin-top: 2rem;
            margin-left: 8rem;
            font-size: 2.5rem;
        }
        .p-mobile {
            display: none;
        }
        .p-desktop {
            display: block;
            font-size: 1.2rem;
            width: 70%;
            margin-left: 8rem;
        }

        .btn {
            margin-left: 8rem;
        }
    }
}