.title {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $text-color-2;
    color: $text-color-1;
    margin-top: 1rem;
    width: 100%;
    h1 {
        font-size: 2.75rem;
        font-family: 'IBM Plex Sans', sans-serif;
        margin-left: 1rem;
        .color {
            color: $color-menu-h
        }
        .line {
            text-decoration: line-through;
        }
    }
    .desktop {
        display: none;
    }
    .mobile {
        font-size: 0.875rem;
        font-family: 'IBM Plex Mono', monospace;
        margin: 2rem 1rem;
    }

    .btn {
        height: 3rem;
        width: 17.5rem;
        background: $btn-color-normal;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 1rem;        
        &:hover {
            background: $btn-color-hover;
            line-height: 24px;
            a {
                color: $text-color-2;
            }
        }

        a {
            color: $text-color-1;
            text-decoration: none;
            font-family: 'IBM Plex Mono', monospace;
            font-weight: bold;
            text-align: center;
            
        }
    }
    
    

}