$color-menu-h: #0000EC;
$text-color-1: #060A24;
$text-color-2: #FFFFFF;
$font-title: IBMPlexSans;
$font-text: IBMPlexMono;
$btn-color-normal: #00F3BB;
$btn-color-hover: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$color-active: rgba(6,10,36,0.56);
