@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=IBM+Plex+Sans:wght@300&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.header {
  width: 100%;
  height: 3.75rem;
  background: #FFFFFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1.125rem 1.25rem;
  z-index: 10;
}

.header img {
  float: left;
  width: 1.5rem;
  height: 1.5rem;
}

.header .nav {
  float: right;
}

.header .nav .menu ul {
  width: 100%;
  position: absolute;
  top: 1.625rem;
  right: 0;
  overflow: hidden;
  list-style: none;
  background: #0000EC;
  height: 0px;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

.header .nav .menu ul li a {
  position: relative;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "IBM Plex Mono", monospace;
  padding: 1.5rem 1rem 0 5%;
  line-height: 1.75rem;
  display: block;
}

.header .nav .menu {
  padding-top: 0.1875rem;
}

.header .nav .menu input {
  display: block;
  width: 40px;
  height: 2rem;
  opacity: 0;
  z-index: 2;
  position: absolute;
  right: 1rem;
  /*animación del menu que se desplega*/
  /*movimiento a cruz*/
}

.header .nav .menu input[type="checkbox"]:checked ~ ul {
  height: 15rem;
  z-index: -1;
  transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
}

.header .nav .menu input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(2px, 1px);
          transform: rotate(45deg) translate(2px, 1px);
}

.header .nav .menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.header .nav .menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(1px, 0px);
          transform: rotate(-45deg) translate(1px, 0px);
}

/*span -lineas del menu hamburguesa-*/
.header .nav .menu span {
  display: block;
  width: 1.5625rem;
  height: 0.1563rem;
  margin-bottom: 0.4063rem;
  position: relative;
  right: 1px;
  background: #060A24;
  z-index: 1;
  -webkit-transform-origin: 0.1875rem 0rem;
          transform-origin: 0.1875rem 0rem;
  -webkit-transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.55s ease;
  transition: transform 0.5s ease, opacity 0.55s ease, -webkit-transform 0.5s ease;
}

.header .nav .menu span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.header .nav .menu span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

@media screen and (min-width: 321px) {
  .header img {
    float: left;
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (min-width: 769px) {
  .header img {
    margin-left: 1.5rem;
  }
  .header .nav .menu ul {
    position: relative;
    top: 0;
    right: 0;
    overflow: hidden;
    background: unset;
    height: unset;
  }
  .header .nav .menu ul li {
    padding: 0.3125rem 0.625rem;
    display: inline-block;
  }
  .header .nav .menu ul li a {
    color: #060A24;
    padding: unset;
    line-height: unset;
  }
  .header .nav .menu ul li a:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  .header .nav .menu ul li a:active {
    color: rgba(6, 10, 36, 0.56);
  }
  .header .nav .menu span {
    display: none;
  }
  .header .nav .menu input {
    display: none;
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #060A24;
  margin-top: 1rem;
  width: 100%;
}

.title h1 {
  font-size: 2.75rem;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-left: 1rem;
}

.title h1 .color {
  color: #0000EC;
}

.title h1 .line {
  text-decoration: line-through;
}

.title .p-desktop {
  display: none;
  font-size: 0.875rem;
  font-family: 'IBM Plex Mono', monospace;
  margin: 2rem 1rem;
}

.title .p-mobile {
  font-size: 0.875rem;
  font-family: 'IBM Plex Mono', monospace;
  margin: 2rem 1rem;
}

.title .btn {
  height: 3rem;
  width: 17.5rem;
  background: #00F3BB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 1rem;
}

.title .btn:hover {
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  line-height: 24px;
}

.title .btn:hover a {
  color: #FFFFFF;
}

.title .btn a {
  color: #060A24;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 321px) {
  .title {
    padding: 2rem 1rem;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 769px) {
  html {
    font-size: 18px;
  }
  .title h1 {
    margin-left: 3rem;
    font-size: 2.5rem;
  }
  .title .p-mobile {
    display: none;
  }
  .title .p-desktop {
    display: block;
    font-size: 1rem;
    width: 70vw;
    margin-left: 3rem;
  }
  .title .btn {
    margin-left: 3rem;
  }
}

@media screen and (min-width: 1025px) {
  html {
    font-size: 18px;
  }
  .title h1 {
    margin-top: 2rem;
    margin-left: 8rem;
    font-size: 2.5rem;
  }
  .title .p-mobile {
    display: none;
  }
  .title .p-desktop {
    display: block;
    font-size: 1.2rem;
    width: 70%;
    margin-left: 8rem;
  }
  .title .btn {
    margin-left: 8rem;
  }
}

.main .section-1 {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
          clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  display: -ms-grid;
  display: grid;
  grid-gap: 0.625rem 0;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 9rem 0;
}

.main .section-1 .h3-section-1 {
  font-size: 2.5rem;
  font-family: "IBM Plex Sans", sans-serif;
  color: #FFFFFF;
  line-height: 0.5rem;
  text-align: start;
  margin-bottom: 1.5rem;
}

.main .section-1 iframe {
  overflow: hidden;
  height: 14.0625rem;
  width: 18.625rem;
}

.main .section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .section-2 img {
  height: auto;
  width: 20rem;
  -webkit-transform: translate(0, -5.625rem);
          transform: translate(0, -5.625rem);
}

.main .section-2 .text {
  padding: 0 1rem;
}

.main .section-2 .text .h3-section-2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.main .section-2 .text p {
  line-height: 1.5rem;
  font-family: "IBM Plex Mono", monospace;
  margin-bottom: 1rem;
}

.main .section-3 h3 {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 2.5rem 1rem 1rem 1rem;
  font-size: 2rem;
}

.main .section-3 .galery-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .section-3 .galery-images img {
  width: 100%;
  height: auto;
}

.main .section-4 h3 {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 3rem 1rem;
  font-size: 2rem;
}

.main .section-4 .images-section-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main .section-4 .images-section-4 .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.main .section-4 .images-section-4 .img img {
  height: 5rem;
  width: 5rem;
}

.main .section-4 .images-section-4 .img p {
  width: 10.625rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.main .section-5 {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
  height: 25rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .section-5 h3 {
  text-align: center;
  font-size: 2rem;
  font-family: "IBM Plex Sans", sans-serif;
  color: #FFFFFF;
}

.main .section-5 .btn {
  height: 3rem;
  width: 18rem;
  margin-top: 2rem;
  background: #00F3BB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .section-5 .btn:hover {
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  line-height: 1.5rem;
}

.main .section-5 .btn:hover a {
  color: #FFFFFF;
}

.main .section-5 .btn a {
  color: #060A24;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 321px) {
  .main .section-1 {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 1rem 0;
  }
  .main .section-1 iframe {
    width: 90vw;
  }
  .main .section-3 .galery-images {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .main .section-4 .images-section-4 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 3rem 1rem;
  }
}

@media screen and (min-width: 769px) {
  .main .section-1 {
    -webkit-clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);
            clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);
    grid-gap: 1.25rem 1.875rem;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    padding: 4.375rem 3.125rem 9.375rem 3.125rem;
  }
  .main .section-1 .h3-section-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: -1;
    font-size: 2.5rem;
    padding-top: 4.5rem;
    margin-left: 2rem;
  }
  .main .section-1 iframe {
    width: 40vw;
  }
  .main .section-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main .section-2 .text {
    height: 12.5rem;
    width: 29rem;
  }
  .main .section-3 h3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: -1;
    margin-left: 6.25rem;
    margin-bottom: 1rem;
  }
  .main .section-3 .galery-images {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .main .section-4 {
    margin-top: 2.5rem;
    margin-bottom: 1.125rem;
  }
  .main .section-4 h3 {
    margin-left: 6.25rem;
    margin-bottom: 3rem;
  }
  .main .section-4 .images-section-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .main .section-4 .images-section-4 .img {
    margin-left: 2.8125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .section-4 .images-section-4 .img img {
    height: 6.25rem;
    width: 6.25rem;
    margin: 0 2rem;
  }
  .main .section-4 .images-section-4 .img p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1025px) {
  .main .section-1 {
    grid-gap: 2.5rem 4.375rem;
    padding: 4.375rem 3.125rem 9.375rem 3.125rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main .section-1 .h3-section-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: -1;
    font-size: 2.5rem;
    padding-top: 4.5rem;
    margin-left: 6.25rem;
  }
  .main .section-1 iframe {
    overflow: hidden;
    height: 232px;
    width: 550px;
  }
}

.footer {
  width: 100%;
  height: 5.625rem;
  padding: 2rem 0;
}

.footer h3 {
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.9375rem;
  margin-bottom: 0.8rem;
}

.footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .icons a {
  text-decoration: none;
  font-weight: bold;
  color: #060A24;
}

@media screen and (min-width: 1025px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 4rem;
  }
  .footer .icons a {
    margin: 0 1.2rem;
  }
  .footer .icons a i:hover {
    color: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  }
}
/*# sourceMappingURL=style.css.map */